*,
*:before,
*:after{
	box-sizing: border-box;
}
body{
	background: #dad3c6;
	margin: 0;
	color: #000;
	font: 16px Roboto, sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(23,27,31, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(23,27,31, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(23,27,31, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(23,27,31, 0.5);
}

.page{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.contact-form{
	height: 100vh;
	position: relative;
	padding: 40px 0;
}

.contact-form .bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	opacity: 0.5;
}

.form{
	position: relative;
	overflow: hidden;
	z-index: 2;
	width: 446px;
	background: #fff;
	margin: 0 auto;
	padding: 20px 40px;
	border-radius: 3px;

}

.form h1{
	font: 700 42px/1.2 'Roboto Condensed', sans-serif;
	margin: 0 0 10px;
	text-transform: uppercase;
	text-align: center;
}

.form input[type=text],
.form input[type=email],
.form select,
.form textarea{
	display: block;
	width: 100%;
	margin: 0 0 20px;
	background: #f9f6f0;
	border-radius: 3px;
	border: 0;
	font: italic 400 16px/21px 'Roboto', sans-serif;
	padding: 13px 20px;
	color: rgba(23,27,31, 1);
}

.form textarea{
	height: 130px;
	max-height: 230px;
	min-height: 50px;
	width: 100% !important;
}

.form select{
	color: rgba(23,27,31, 0.5);
}

.check-list,
.radio-list{
	margin: 0 0 25px;
	padding: 0 0 10px;
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid #f9f6f0;
}
.radio-list{
	border: none;
	margin: 0;
	padding: 0;
}
.check-list li,
.radio-list li{
	float: left;
	width: 50%;
	margin: 0 0 20px;
}

.fake-check,
.fake-radio{
	width: 30px;
	height: 30px;
	border: 2px solid #eeebe6;
	border-radius: 2px;
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
	position: relative;

}

.fake-radio{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.fake-check:after{
	content: "";
	width: 16px;
	height: 8px;
	border: 2px solid #eca22e;
	border-width:  0 0 2px 2px;
	position: absolute;
	top: 6px;
	left: 6px;
	transform: rotate(-45deg);
	display: none;
}

.fake-radio:after{
	content: "";
	width: 13px;
	height: 13px;
	background: #eca22e;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 4px;
	transform: rotate(-45deg);
	display: none;
}

.check-list input[type="checkbox"],
.radio-list input[type="radio"]{
	position: absolute;
	left: -9999px;
}

.check-list input[type="checkbox"]:checked ~ label .fake-check,
.radio-list input[type="radio"]:checked ~ label .fake-radio{
	border: 2px solid #eca22e;
}

.check-list input[type="checkbox"]:checked ~ label .fake-check:after,
.radio-list input[type="radio"]:checked ~ label .fake-radio:after{
	display: block;
}

.form input[type=submit]{
	width: 230px;
	border:0;
	display: block;
	margin: 0 auto;
	background: #eca22e;
	font: 16px/20px Roboto, sans-serif;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	height: 52px;
	cursor: pointer;
}
.form input[type=submit]:hover{
	opacity: 0.8;
}